body {
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
	background: #cccccc;
}

#nav-bar {
	margin: 0;
	padding: 0;
}


#nav-bar-home {
	float: left; 
	font-weight: 300;
	font-size: 1.2em;
}

#nav-list {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ABABAB;
}

#nav-list li {
	float: right;
}

#nav-list li a {
	overflow: hidden;
	text-decoration: none;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	
	display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
	font-weight: 300;
}

#nav-list li a:hover {
	background-color: rgb( 40, 44, 47 );
}

#nav-bar-icon {
	display: none;
}

/* Responsive nav-bar queries */
@media screen and (max-width: 680px) {
	#nav-list li:not(#nav-bar-home) {
		display: none;
	}
	
	
	#nav-list li:nth-child(2) {
		display: inline-block;
		float: right;
		position: absolute;
		right: 0;
		top: 0;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width: 680px) {
	#nav-list.responsive {
		position: relative;
		background-color: #ABABAB;
	}
	#nav-bar-icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	#nav-list.responsive li {
		float: none;
		display: inline;
	}
	#nav-list.responsive li a {
		display: block;
		text-align: left;
	}
}


h1 {
	font-weight: 100;
}

h2 {
	font-weight: 300;
}

p {
	font-weight: 300;
	margin: 0px;
}

.new-material-div {
	display: inline-block;
	padding: 15px;
	margin: 5px;
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.5);
	color: #f3f3f3;
	font-family: 'Source Code Pro';
	
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}

.button {
	color: #F3f3f3;
	border-radius: 3px;
	display: inline;
	padding: 10px 35px 10px 35px;
	background: #FF821C;
	cursor: pointer;
}

.entry {
	background: white;
	margin-left: 10%;
	margin-right: 10%;
	padding: 35px;
	
}

body > .entry ~ .entry {
	margin-top: 2%;
}

code {
	font-family: 'Source Code Pro';
	padding: 4px;
	margin: 3px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background: #f3f3f3;
}

alt {
	font-weight: 100;
}

h3 {
	font-weight: 400;
}
