body {
	font-family: 'Roboto';
	margin: 0;
}

#site {
	visibility: visible;
	display: block;
	height: 100%;
	align-content: center;
	
	padding: 15px;
	border: 5px solid red;
	background: green;
}

#nav-bar {
	position: relative;
	display: inline-block;
}

#nav-list {
	background: #f3f3f3;	
	position: fixed; /* Make it stick, even on scroll */
	overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.nav-bar-element {
	overflow: hidden;
	float: right;
	text-decoration: none;
	font-weight: 300;
	font-size: 18px;

	display: inline-block;
	list-style-type: none;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#nav-list > .nav-bar-element > a {
	color: #aaa;
	display: block;
	line-height: 56px;
	padding: 0 24px;
	text-decoration: none;
}

.nav-bar-element:hover {
	background-color: rgb( 40, 44, 47 );
}

.nav-bar-element:hover > a > .caret {
  border-top-color: rgb( 255, 255, 255 );
}

#nav-bar-icon {
	display: none;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li.nav-bar-element:not(:first-child) {display: none;}
  #icon {
    float: right;
    display: inline-block;
  }
}










